.category-title{
    transition: 0.2s;
    font-weight: 600 !important;
    text-decoration: none;
}
.category-title:hover{
    color: rgb(85, 85, 245) !important;
    
}
.custome-search{
    color: rgba(0, 0, 0, 0.1) !important;
    border: rgba(0, 0, 0, 0.1) !important;
    outline: rgba(0, 0, 0, 0.1) !important;
}